<ion-content>
  <ion-grid style="min-height: 100%;">
    <ion-row class="ion-justify-content-center">
      <ion-col size="2" class="ion-text-center" *ngIf="sedes.length == 0">
        <ion-spinner name="dots"></ion-spinner>
      </ion-col>
      <ion-col size="12" *ngIf="sedes.length > 0">
        <ion-list [inset]="true">
          <ion-list-header>
            <ion-title class="ion-no-padding">Sedes</ion-title>
          </ion-list-header>
          <ion-item [button]="true" *ngFor="let sede of sedes" (click)="navigateTo(sede.dane)">
            <ion-label>{{sede.nombre}}</ion-label>
            <ion-avatar slot="end" *ngIf="CodSede == sede.dane">
              <img src="assets\icon\blue-check.svg">
            </ion-avatar>
          </ion-item>
        </ion-list>
        <ion-text *ngIf="ErrorSede" color="danger">Selecciona una institución educativa primero</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>