ion-menu {
  --width: 250px;
  --background: #fafafa;
  --border: none;

  ion-content {
    --background: #f6f6f6;

    ion-list {
      padding: 0;

      ion-menu-toggle {
        ion-item {
          --color: #333;
          --border-radius: 0;

          ion-icon {
            color: #3171e0;
            margin-right: 15px;
          }
        }
      }
    }
  }
}

ion-header {
  --background: #f0f0f0;
}
